.gradle
/build/
/bin/
src/main/resources/spells.json
src/main/resources/materia_characters.csv
src/main/resources/inferno_characters.csv
src/main/resources/hysteria_characters.csv

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

keys.txt
# Ignore Gradle build output directory
build
.vscode/
.pre-commit-config.yaml
.env
.cache_ggshield
bin
